@model Tobacco_Shop.Models.Tobacco

@{
    ViewData["Title"] = "Delete";
}
<h3>Do want to delete this Tobacco?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ImageThumbnailUrl)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IsTobaccoBest)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsTobaccoBest)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd class>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="TobaccoId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">Return</a>
    </form>
</div>
